* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img.logo {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 3%;
    cursor: pointer;
}

body {
    background-image: url(./images/fundo_cel.png);
    background-size: 450px 620px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px ;

}

.calculadora {
    width: 340px;
    margin: 0 auto;
    padding: 40px;

}

.display {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.418);
    color: black;
    font: normal 2rem serif;
    overflow:auto;
    border-radius: 5px;
    word-break: break-all;



}

.calculadora-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.calculadora button {
    background-color: #5fbaa7;
    color: white;
    padding: 8px;
    border-radius: 40px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    border: 2px solid black;


}

button:hover {
    background-color: #a2d3c8;
    color: black;
}

.calculadora-buttons> :nth-child(-n+4) {
    color: white;
    margin-top: 20px;
    padding: 2px;
    
}

.calculadora-buttons> :nth-child(5) {
    background-color: #f5f5f5;
    color:red;
}




.hidden {
    visibility: hidden;
}



#recursos {
    display: flex;
}

#recursos>:nth-child(2) {
    margin-left: 220px;
}