* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#body {
    font-size: medium;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin-top: 2vh;
    text-indent: 1.5vw;
}

h1 {
    margin-top: 6px;
}

h3 {
    margin-top: 5vh;
}

#founders h3 {
    color: black;
}

#especial {
    margin-left: 2vw;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0.2vw;
    font-weight: bold;
    color: black;
}

#main {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

header li:hover {
    background-color: #bfcfcc88;
    border-radius: 1rem;
}

header .logo:hover {
    background-color: #5fbaa7;
}

header {
    background-color: #5fbaa7;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

header li {
    padding: 2vh 1vw;
}

.logo {
    width: 10vh;

}

.menubuttons {
    width: 4vh;
    cursor: pointer;
    transition: 0.3s;
}

.submenu {
    margin-left: 1vw;
}

#about {
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: justify;
}

#about p {
    margin-bottom: 1vw
}

#founders {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#founders h2 {
    padding-left: 2vw;
}

.card {
    width: calc(100vw/5.5);
    border: 1px solid #5fbaa7;
    background-color: #d1ece7;
    border-radius: 2vw;
    padding: 3vh 1vw;
    margin-top: 2vh;
    transition: 0.5s;
    text-align: center;
    min-width: 150px;
}

.imagemhome {
    margin: 0 auto;
    display: block;
    border-radius: 1vw;
    width: 90%;
    margin: 0 auto;

}

.card:hover {
    z-index: 1;
    width: calc(100vw/5);
}

.card p {
    text-indent: 0;
    text-align: center;
    color: black;
}

button {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
    padding: 2vh 0;
    font-size: large;
    background-color: inherit;
    border-radius: 1rem;
    margin-top: 1vh;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: whitesmoke;
}

button:active{
    background-color: rgb(228, 227, 227);
}


#content {
    margin-top: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

#content h3 {
    margin-top: 5vh;

}

#content ul {
    margin-left: 5vw;
}

#footer {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #5fbaa7;

}

#footer ul {
    list-style: none;
}

.footerlogo {
    width: 12vh;
}

#copyright {
    text-indent: 0;
    text-align: center;
    margin-top: 0;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    background-color: #5fbaa7;
    color: #dadada;
}

.dark-mode {
    background-color: rgb(59, 59, 59);
    color: rgb(245, 244, 244);
}

@media (max-width:730px) {
    #founders{
        flex-wrap: wrap;
    }
}