*{
    list-style: none;
}

#infocenter{
    text-align: center;
    margin-top: 6vw;
    margin-bottom: 2vw;
}
/*tabs below*/

#tabs{
    border: solid 1px rgb(214, 214, 214); 
}

#tabs li{
    border: none;
    background-color: rgb(74, 128, 114);
}

#tabs ul{
    border: none;
    background-color: rgb(255, 255, 255);
}

/*accordion below*/

#accordion{
    border: solid 1px rgb(214, 214, 214); 
    
}

#accordion h3{
    border: none;
    background-color: rgb(74, 128, 114);
}   
#accordion-1{
    background-color: rgb(255, 255, 255);
}

/*slide below*/

#slideshow {
    display: none;
    margin: 0 auto;
    position: relative;
    width: 60%;
    padding: 200px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    margin-top: 20px;
}

#slideshow div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#slideshow div img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.thumbnail img {
    margin-top: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 95px;
}

.thumbnail img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* photos protocol combat below */


.protocolo_combate {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  #combate {
    text-align: center;
  }

  figure img {
    width: 80%; 
    margin-left: 10%;
  }

  figure figcaption {
    text-align: center;
    flex-wrap: wrap;
  }

/* Img footer below */

  #social-3{
      margin-top: 2vw;
      width: 10vw;
  }

  #logo_li img{
      width: 10vw;
      align-items: center;
  }

/* style button up below  */

  #dynamicTop {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 5px;
    overflow: hidden;
    width: 51px;
    height: 51px;
    border: none;
    text-indent: 100%;
    background: url('/img/ui.totop.png') no-repeat left top;
}
#dynamicTopHover {
    background: url('/img/ui.totop.png') no-repeat left -51px;
    width: 51px;
    height: 51px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
}
#dynamicTop:active, #dynamicTop:focus {
    outline: none;
}



#footer_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4vw;
}

footer {
    background-color: rgb(74, 128, 114);
    color: azure    ;
    gap: 0;
}

#copyright {
    text-align: center;
    color: white;
    background-color: rgb(74, 128, 114);
}